    <div class='container_12'>
      <div class='grid_6 prefix_3 suffix_3 login'>
        <div class="loginbox">
            <h1>Admit - Glamorgan Admissions Online</h1>
            
            <p><%= flash[:notice] %></p>


            <p class="loginimage">
              <a href='/sessions/' class="loginlink">
              Log-in
            </a>
            </p>

            <p>
              <a href="http://ssaa.glam.ac.uk/appmenu/">Reset your password or Activate your Account</a>
            </p>
          
            <p>By logging into this system you acknowledge that you have read and understood the <a href="http://inform.glam.ac.uk/media/files/documents/2007-09-13/IT_Regs.doc">IT Regulations</a>.
            </p>

            <p>
              <a href="http://lcss.glam.ac.uk/is/it/">IS Customer Support</a>
            </p>
        </div>
    </div> <!-- endof grid_-->
  </div>
  </body>



