<h2>Average <%=h @average %>
  <% if @status == 'DOWN' %>
    <label Class="bad">(<%= @timeup %> minutes down)</label>
  <% end %>
  <% if @status == 'UP' %>
    <label Class="good">(<%= @timeup %> minutes up)</label>
  <% end %>
	<% if @status == 'on target' %>
    <label Class="good">(exactly even)</label>
  <% end %>
</h2>
