    <div class='container_12'>
      <div class='grid_6 prefix_3 suffix_3 login'>
        <div class="loginbox">
            <h1>Timelogs - Super flexible time logging</h1>
            
        
            <p>You are not authorised to view access this application</p>
<br />
            <p>
              <a href="http://lcss.glam.ac.uk/is/it/">For help or more information contact IS Customer Support</a>
            </p>
        </div>
    </div> <!-- endof grid_-->
  </div>